{% load static %}

<div class="col">
    <div class="card bg-dark text-white">
      <img src="{{ product.prodImg }}" class="card-img-top" alt="https://bit.ly/3tF3b3t">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{product.desc}}</p>
        <span class="btn btn-success"style = "cursor:auto;" >${{product.price}}</span>
        <div>
        <form>
        <button class="btn btn-primary mt-3">Buy Now!</button>
        </div>
        </form>
        <form>
        <button class="btn btn-primary mt-3">Add to Cart</button>
        </form>
      </div>
    </div>
</div>