{% load static %}

<div class="col">
    <div class="card bg-dark text-white">
      <img src="{% static 'product.jpg' %}" class="card-img-top" alt="https://bit.ly/3tF3b3t">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <span class="btn btn-success"style = "cursor:auto;" >$400</span>
        <div>
        <form>
        <button class="btn btn-primary mt-3">Buy Now!</button>
        </div>
        </form>
        <form>
        <button class="btn btn-primary mt-3">Add to Cart</button>
        </form>
      </div>
    </div>
</div>