{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/contact/style.css">
{% endblock head %}
{% block body %}
<h1>Contact Us</h1>
<div class="container px-4">

<form method="post" action= "/contact" class="px-4">
{% csrf_token %}
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">First Name <small class="text-muted">Minimum 3 letters</small></label>
  <input type="text" minlength="8" class="form-control" id="exampleFormControlInput1" name="Fname" placeholder="First Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Last Name <small class="text-muted">Minimum 3 letters</small></label>
  <input type="text" minlength="8" class="form-control" id="exampleFormControlInput2" name="Lname" placeholder="Last Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput3" name="mail" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput4" class="form-label">Subject <small class="text-muted">Minimum 10 letters</small></label>
  <input type="text" minlength="10" class="form-control" maxlength="80" id="exampleFormControlInput4" name="sub" placeholder="Subject">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description <small class="text-muted">Minimum 15 letters</small></label>
  <textarea minlength="15" class="form-control" id="exampleFormControlTextarea1" name="conts" rows="3"></textarea>
</div>
<button class="btn btn-primary">Submit</button>
</form>
<div class="border-bottom border-light mt-4"></div>
<h1 class="my-4 ">Your Contacts history</h1>
<div class="accordion" id="accordionExample">
{% for i in contact %}
  <div class="accordion-item bg-dark">
    <h2 class="accordion-header bg-dark" id="panelsStayOpen-headingOne">
      <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#id{{i.id}}" aria-expanded="false" aria-controls="id{{i.id}}">
        {{i.sub}}<small class="mx-3 text-muted">{{i.date}}</small>
      </button>
    </h2>
    <div id="id{{i.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        {{i.cont|safe|linebreaks}}
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock body %}