{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/users/style.css">
{% endblock head %}
{% block body %}
<h1>Edit</h1>
<div class="container">
    <form action="/user/edit" method="post">
{% csrf_token %}
<div class="mb-3">
<label class="form-label" for="Cusername">Current Username:</label>
<input class="form-control" required name="CurUsername" type="text" id="Cusername" >
</div>
<div class="mb-3">
<label class="form-label" for="Cmail">Current Email:</label>
<input class="form-control" required` name="CurMail" type="email" id="Cmail">
</div>
<div class="mb-3">
<label class="form-label" for="CPassword">Password:</label>
<input class="form-control" required` name="CurPass" type="password" id="CPassword">
</div>
<hr>
<div class="mb-3">
<label class="form-label" for="username">Username:</label>
<input class="form-control unchanged" oninput="inspectF(this)" name="username" type="text" id="username"  value="{{user}}">
</div>
<div class="mb-3">
<label class="form-label" for="fName">First Name:</label>
<input class="form-control unchanged" oninput="inspectF(this)" name="fName" type="text" id="fName"  value="{{user.first_name}}">
</div>
<div class="mb-3">
<label class="form-label" for="lName">Last Name:</label>
<input class="form-control unchanged" oninput="inspectF(this)" name="lName" type="text" id="lName"  value="{{user.last_name}}">
</div>
<div class="mb-3">
<label class="form-label" for="email">Email:</label>
<input class="form-control unchanged" oninput="inspectF(this)" name="email" type="text" id="email"  value="{{user.email}}">
</div>
<button id="submitBtn" disabled type='submit' class= "btn btn-primary">Change</button>
</div>
    </form>
<hr>
{% endblock body %}

{% block bottom %}
<script>
    const uVal = "{{user}}",
    fVal = "{{user.first_name}}",
    lVal = "{{user.last_name}}",
    eVal = "{{user.email}}";
</script>
<script src="/static/users/editProfile.js"></script>
{% endblock bottom %}