{% extends 'base.html' %}

{% block body %}
<h1>{{product.name}}</h1>
by <small class="text-muted">{{product.seller}}</small>
<hr class="dropdown-divider">
<div style="height:70vh; width:100%; display:flex; align-items:center; justify-content: center; overflow:hidden;">
<img src="/media/{{ product.prodImg }}" style="height:inherit; width:auto;" class="card-img-top" alt="{{product.slug}}">
</div>
<hr>
<h3>{{product.name}}</h3>
<h1 style="display:block; width:fit-content;" class="border p-1">${{product.price}}</h1>
<hr>
<strong>Desc:</strong>
<p>
{{product.desc}}
</p>
<hr>
<h3>Sold by {{product.seller}} and fulfilled by iCart.</h3>
{{product.date}}
{% endblock body %}