{% extends 'base.html' %}

{% block body %}
<h1>Profile</h1>
<hr>
<h3>Details</h3>
<div class="container">
<div class="mb-3">
<label class="form-label" for="username">Username:</label>
<input class="form-control" type="text" id="username" disabled value="{{user}}">
</div>
<div class="mb-3">
<label class="form-label" for="fName">First Name:</label>
<input class="form-control" type="text" id="fName" disabled value="{{user.first_name}}">
</div>
<div class="mb-3">
<label class="form-label" for="lName">Last Name:</label>
<input class="form-control" type="text" id="lName" disabled value="{{user.last_name}}">
</div>
<div class="mb-3">
<label class="form-label" for="email">Email:</label>
<input class="form-control" type="text" id="email" disabled value="{{user.email}}">
</div>
<a href="edit" class="btn btn-primary">Edit</a>
<a href="editPassword" class="btn btn-warning">Change Password</a>
</div>
<hr>
{% endblock body %}